html
{
background-color: bisque;
}

#start_btn
{
    width: 100px;
    height: 30px;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
